HELP.md
homework-back/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
homework-back/.idea
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
homework-back/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
homework-front/dist
/tmp
/out-tsc

# dependencies
homework-front/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
homework-front/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
homework-front/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
homework-front/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
homework-front/.DS_Store
Thumbs.db
