<ng-container *ngIf="isErrorMessageVisible">
  <span class="error">{{errorMessage}}</span>
</ng-container>

<form [formGroup]="numbersForm" (ngSubmit)="submit()">

  <label class="form-label">
    <span>Numbers [E.g. "1 2 3"]:</span>
    <input class="form-input" type="text" formControlName="numbers" (click)="hideError()" (keydown)="hideError()">
  </label>

  <br>

  <label class="form-label">
    <span>Order:</span>
    <select class="form-input" type="text" formControlName="order">
      <option selected>ASC</option>
      <option>DESC</option>
    </select>
  </label>
</form>

<button class="form-btn" (click)="submit()">Submit</button>
<button class="form-btn" (click)="reset()">Clear</button>

<p>
  Sorted Numbers:
  <ng-container *ngIf="sortedNumbers">
    <span *ngFor="let number of sortedNumbers.numbers">
      {{number}}
    </span>
  </ng-container>
</p>